<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.infrastructure.persistence.mapper.OrderDetailMapper">

    <select id="selectByOrderId" resultType="org.example.infrastructure.persistence.po.OrderDetailPO">
        SELECT *
        FROM order_detail
        WHERE order_id = #{orderId}
        ORDER BY create_time ASC
    </select>

</mapper>